APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

GAMEFIELD_HEIGHT=10
GAMEFIELD_WIDTH=10
GAMEFIELD_SPEED=1
GAMEFIELD_CASTLE_BOUND=2

GAMEARMY_FATIGUE=1
GAMEARMY_BASE_LEVEL=1
GAMEARMY_BASE_SIZE=10
GAMEARMY_GOLD_PER_ROB=25
GAMEARMY_FOOD_PER_ROB=10
GAMEARMY_IRON_PER_ROB=5