.pagination {
    margin: 0 0 0 0;
}

#gf-mask {
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

img.mapster_el {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.small-top-line {
    margin-top: 3px;
    border-top: 1px solid #ccc;
    padding-top: 3px;
}